#Bienvenue{
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}
Text, Button, Label, TextProperty, MenuItem, MenuButton{
	-fx-font-family: 'Copperplate Gothic Light';
	-fx-font-size: 16px;
}
TextField{
	-fx-font-family: 'Elephant';
	-fx-font-size: 14px;
}
Button{
	-fx-background-color:#c9e1f5;
}
Button:hover{
	-fx-cursor:hand;
	-fx-text-fill:#ffffff;
}
Button:pressed{
	-fx-cursor:wait;
}
Button:disabled{
	-fx-background-color: #abb0af;
}
TableView{
	-fx-background-color: #abb0af;
	-fx-font-family: 'Copperplate Gothic Light';
	-fx-font-size: 12px;
	-fx-text-alignment: center;
}
.root{
	-fx-background-color:#ffffff;
}